.custom-btn {
    background-color: #FF7101;
    border-color: #FF7101;
    color: #fff;
}
.custom-btn:hover {
    background-color: #FFA500; /* Darker shade on hover */
    border-color: #FFA500;     /* Match the border color */
    color: #fff;               /* Keep the text color white */
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full height for sticky footer */
}
#main-content {
    flex: 1; /* Allow main content to grow */
}
.link-hover:hover {
    color: #00712D !important;
}
.btn-search:hover i {
    color: #00712D !important;
}
.icon-hover:hover i {
    color: #00712D !important; /* Change icon color on hover */
}
.icon-hover:hover .fa-user:before {
    content: "\f007"; /* New icon's Unicode character */
}
.icon-hover:hover .fa-shopping-cart:before {
    content: "\f217"; /* Unicode for cart-plus */
}

/* list item product */
.listProducts .item img {
    width: 90%;
    height: 60%;
    filter: drop-shadow(
            0 50px 20px #0009
    );
}

.listProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProducts .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}

.listProducts .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProducts .item .price {
    font-size: medium;
}