<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
    <!-- web icon -->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/images/favicon.ico" th:fragment="webicon">
</head>

<body>
    <!-- topbar -->
    <div id="menu" th:fragment="topbar">
        <ul>
            <li><a th:href="@{/orangestore/home}"> Home </a></li>
            <li><a th:href="@{/orangestore/about}"> About </a></li>
            <li class="active has-sub">
                <a href="#"> Contact us </a>
                <ul>
                    <li><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&ec=asw-gmail-globalnav-signin&ddm=0"> E-mail: orangeestore@org.com </a></li>
                    <li><a href="#"> Tel: +86 8888 6666 </a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- logo -->
    <div class="logo" th:fragment="logo">
        <img th:src="@{/images/Logo.jpg}" width="40px" alt="logo"/>
    </div>
    <!-- co-name -->
    <div class="co-title" th:fragment="co-name">
        Orange Store
    </div>

    <!-- icon-cart -->
	<a href="/cart">
    <div class="icon-cart" th:fragment="icon-cart">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
        </svg>
        <span>0</span>
    </div>
	</a>

    <!-- search box -->
    <div class="searchBox" th:fragment="searchbox">
        <form action="#" th:action="@{/orangestore/all/products/searching}" method="POST" class="search-form">
            <input type="text" name="keyword" placeholder="Enter your query..." required class="search-input">
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

</body>
</html>