<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
    <h2>Order Details</h2>
    <table style="border-collapse: collapse; border: 1px solid darkgrey">
      <thead>
      <tr>
        <th colspan="2" style="border-collapse: collapse; border: 1px solid darkgrey">
          Order ID #<span th:text="${orderId}">Order ID</span></th>
        <th style="border-collapse: collapse; border: 1px solid darkgrey">
          <span th:text="${order.orderStatus}"></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th colspan="3" style="border-collapse: collapse; border: 1px solid darkgrey; text-align: center">
          Payment</th>
      </tr>
      <tr>
        <td colspan="2" style="border-collapse: collapse; border: 1px solid darkgrey; text-align: right">
          Payment Status:
        </td>
        <th style="border-collapse: collapse; border: 1px solid darkgrey">
          <span th:text="${payment.status}"></span>
        </th>
      </tr>
      <tr>
        <td style="border-collapse: collapse; border: 1px solid darkgrey">
          Date: <span th:text="${payment.paymentDate}"></span></td>
        <td style="border-collapse: collapse; border: 1px solid darkgrey">
          Method: <span th:text="${payment.paymentMethod.methodName}"></span></td>
        <td style="border-collapse: collapse; border: 1px solid darkgrey">
          Amount: $<span th:text="${payment.paymentAmount}"></span></td>
      </tr>
      <tr>
        <th colspan="3" style="border-collapse: collapse; border: 1px solid darkgrey; text-align: center">
          Shipping</th>
      </tr>
      <tr>
        <th colspan="2" style="border-collapse: collapse; border: 1px solid darkgrey;">Address</th>
        <th style="border-collapse: collapse; border: 1px solid darkgrey;">Status</th>
      </tr>
      <tr>
        <td colspan="2" style="border-collapse: collapse; border: 1px solid darkgrey;">
          <p th:text="${shipping.address}"></p>
          <p th:text="${shipping.city}"></p>
          <p th:text="${shipping.postalCode}"></p>
        </td>
        <td>
          <span th:text="${shipping.shippingStatus}"></span>
        </td>
      </tr>
      <tr>
        <th colspan="3" style="border-collapse: collapse; border: 1px solid darkgrey; text-align: center">
          Order Details</th>
      </tr>
      <tr>
        <th style="border-collapse: collapse; border: 1px solid darkgrey">Item</th>
        <th style="border-collapse: collapse; border: 1px solid darkgrey">Quantity</th>
        <th style="border-collapse: collapse; border: 1px solid darkgrey">Amount</th>
      </tr>
      <tr th:each="item : ${orderDetails}">
        <td style="border-collapse: collapse; border: 1px solid darkgrey">
          <p>Name: <span th:text="${item.product.name}"></span></p>
          <p>Brand: <span th:text="${item.product.brand.name}"></span></p>
          <p>Unit Price: $ <span th:text="${item.product.unitPrice}"></span></p>
        </td>
        <td th:text="${item.quantity}" style="border-collapse: collapse; border: 1px solid darkgrey; text-align: center">
          Quantity</td>
        <td th:text="${item.amount}" style="border-collapse: collapse; border: 1px solid darkgrey; text-align: center">
          Amount</td>
      </tr>
      </tbody>
    </table>
</body>
</html>