<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
<head>
    <meta charset="UTF-8">
    <title>Product Review Created</title>
</head>
<body>
<div class="container">
  <br/><h2>Your review has been created successfully.</h2><br/>
  <div>
    <a href="#" onclick="history.go(-1); return false;" class="btn btn-primary btn-sm mb-3 float-right">Back</a>
  </div>
</div>
</body>
</html>